/******************************************************/
/* BASES ***/
/******************************************************/

html{
    background-color: whitesmoke;
}

body{
    margin: 0 auto;
    background-color: lightgray;
    max-width: 600px;
    width: 600px;
}


/******************************************************/
/* CONTENT ***/
/******************************************************/

.auktion-card{
    margin: 0 auto;
    width: 80%;
    border: 1px solid darkolivegreen;
    border-radius: 10px;
    padding: 20px;
}