
/******************************************************/
/* BASES ***/
/******************************************************/

html{
    background-color: whitesmoke;
}

body{
    margin: 0 auto;
    background-color: lightgray;
    max-width: 600px;
    width: 600px;
}


/******************************************************/
/* CONTENT ***/
/******************************************************/

.app-container{
    
}