

/******************************************************/
/* BASES ***/
/******************************************************/

html {
    background-color: whitesmoke;
}

body {
    margin: 0 auto;
    background-color: lightgray;
    max-width: 600px;
    width: 600px;
}


/******************************************************/
/* CONTENT ***/
/******************************************************/

.auktion-card {
    background-color: whitesmoke;
    margin: 10px auto;
    width: 80%;
    border: 2px solid teal;
    box-shadow: 2px 5px 4px #888888;
    border-radius: 10px;
    padding: 20px;
}

.red {
    color: red;
}

p {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

h3 {
    white-space: nowrap;
    margin-bottom: 5px;
    color: teal;
}

h3.footer {
    color: whitesmoke;
}

.myBotton {
    margin-left: 5px;
}

#elementcontainer {
    background-color: #009688;
    width: 100%;
    display: flex;
    justify-content: center;
}

#searchcontainer {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    padding: 0.5em;
}

#selectcontainer {
    display: flex;
    justify-content: flex-end;
    padding: 0.5em;
}

select {
    border: 2px solid lightgray;
    width: 250px;
    color: gray;
}



.searchBtn {
    border: 1px solid lightgray;
}


/******************************************************/
/* FORMULARY ***/
/******************************************************/

.form-container {
    width: 80%;
    margin: 0 auto;
}

.input-field {
    margin-bottom: 5px;
    border-radius: 5px;
}

label {
    color: teal;
}

.delete-continer {
    width: 80%;
    margin: 20px auto;
}


.delBudBtn{
    color: teal;
    margin-left: 20px;
    margin-bottom: 5px;
}

.delBudBtn:hover{
    background-color: teal;
    color: whitesmoke;
}